.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Optional: Add a border */
    border-radius: 4px; /* Optional: Add rounded corners */
    padding: 5px; /* Optional: Add some padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
