thead {
  color: #337AB7;
}

.weapon-thumbnail {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
  margin: 2px;
}

.character-portrait {
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
  margin-right: 10px; /* Add some space between the image and the text */
  vertical-align: middle; /* Align the image with the text */
}
