.nav-link {
  font-size: large;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other content */
}

.container-fluid {
  margin-top: 60px; /* Adjust this value based on the height of your navbar */
}
