<div class='character-filter'>
    <img *ngFor='let character of characters'
         [src]="'./api/characters/' + character + '.jpg'"
         [alt]="character"
         class='character-portrait'
         [class.grayscale]="selectedCharacter !== character"
         (click)='onCharacterChange(character)'>
</div>
<div class="selected-character">
    Selected Character: <strong>{{ selectedCharacter }}</strong>
</div>
<ngx-graph
        class="chart-container"
        [links]="hierarchialGraph.links"
        [nodes]="hierarchialGraph.nodes"
        [legend]="false"
        [curve]="curve"
        [draggingEnabled]="false"
        [zoomLevel]=".9"
        [enableZoom]="false"
        [panningEnabled]="true"
        [autoZoom]="true"
        [autoCenter]="true"
        [zoomToFit$]="zoomToFit$"
        (mouseenter)="stopEvent($event)"
        (mouseleave)="stopEvent($event)"
        [panOnZoom]="false"
        [animate]="false"

>
    <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
        </svg:marker>
    </ng-template>

<ng-template #nodeTemplate let-node>
    <svg:g class="node"
           ngx-tooltip
           [tooltipPlacement]="'top'"
           [tooltipType]="'tooltip'"
           [tooltipTitle]="node.label"
    >
        <svg:rect [attr.width]="node.width" [attr.height]="50" [attr.y]="10" [attr.fill]="node.options.color" />
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
        <svg:image [title]="weaponUrlRoot + node.weaponThumbnail" [attr.xlink:href]="weaponUrlRoot + node.weaponThumbnail" height="50" width="75" [attr.x]="-64" [attr.y]="node.height / 2 - 25" />
        <ng-container   *ngIf="node.abilities">
            <ng-container *ngFor="let ability of node.abilities; let i = index">
                <svg:image [attr.xlink:href]="'./assets/images/abilities/' + ability + '.jpeg'" height="20" width="20" [attr.x]="-52 + (i * 25)" [attr.y]="node.height + 5" />
            </ng-container>
        </ng-container>
    </svg:g>
</ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path
        class="line"
        stroke-width="2"
        marker-end="url(#arrow)" >
      </svg:path>
    </svg:g>
  </ng-template>
</ngx-graph>
