.graph {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .graph .edge {
      stroke: #666;
      fill: none; }
      .graph .edge .edge-label {
        stroke: none;
        font-size: 12px;
        fill: #666; }
    .graph .panning-rect {
      fill: transparent;
      cursor: move; }
    .graph .node-group .node:focus {
      outline: none; }.graph {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .graph .edge {
      stroke: #666;
      fill: none; }
      .graph .edge .edge-label {
        stroke: none;
        font-size: 12px;
        fill: #666; }
    .graph .panning-rect {
      fill: transparent;
      cursor: move; }
    .graph .node-group .node:focus {
      outline: none; }

  .edge {
      path  {
        stroke: #666 !important;
      }
    }
:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px; /* Add padding around the graph */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.graph-container {
  width: 100%;
  height: 100%;
  overflow: auto; /* Ensure the container can scroll if the content overflows */
}

.chart-container {
  width: 100%;
  height: 100%;
  cursor: default; /* Ensure the cursor does not indicate panning */
  pointer-events: none;
  overflow: auto; /* Allow scrolling */
}

.graph .panning-rect {
  cursor: default; /* Override the cursor style for the panning rectangle */
  pointer-events: none; /* Ensure it does not capture events */
}

.character-portrait {
  width: 75px; /* Set the desired width */
  height: 75px; /* Set the desired height */
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
  margin-bottom: 5px; /* Add some space between the image and the text */
}

.character-filter {
  display: flex;
  align-items: center;
  gap: 10px; /* Add some space between the images */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.character-portrait.grayscale {
  filter: grayscale(100%);
}

.row.align-items-center {
  align-items: center; /* Vertically center the items in the row */
}

.flex-text {
  flex-wrap: wrap;
}
