<!-- Main Section that contains a count of images we have vs total, then breakout by character-->
<div class="row">
  <header>
    <div class="hero">
      <h1>Weapon images have vs Needed</h1>
    </div>
  </header>
</div>
<!-- Detail section showing all images and whether the links work or not-->
<div class="row">
  <section>
    <div class="list">
      <ul>
        <li *ngFor='let weapon of filteredWeapons'>
          <div>{{weapon.weaponName}}</div>
          <ul>
            <li *ngFor='let weaponurl of weapon.weaponImageUrls'>
              <div>
                <div class="image_test">{{weaponurl.urlType}}:</div>
                <img lass='center-block img-responsive'
                [style.width.px]='40'
                [style.margin.px]='2'
                [src]="weaponurl.url"  />
                
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>